@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(141, 141, 141);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: rgb(202, 202, 202);
  padding: 20px;
  border-radius: 10px;
}

.container h1 {
  text-align: center;
}

.senha-gerada {
  font-size: 1.5em;
  color: black;
  margin: 40px 0;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}